extends ../_layouts/main

block content
  .container.my-4
    h1.mb-4= shed.title

    a.btn.btn-secondary.mb-4(href="/sheds") Back to Sheds List

    table.table
      tbody
        tr
          th Type
          td= shed.shedType
        tr
          th Status
          td
            span.badge(class=shed.isNew ? "bg-success" : "bg-secondary")= shed.isNew ? "New" : "Used"
        tr
          th Size
          td #{ shed.sizeWidth }' × #{ shed.sizeLength }'
        tr
          th Description
          td= shed.description
        tr
          th Inventory Number
          td= shed.inventoryNumber
        tr
          th Colors
          td
            div Roof: #{ shed.colorRoof }
            div Siding: #{ shed.colorSiding }
            div Trim: #{ shed.colorTrim }
        tr
          th Base Price
          td $#{ shed.basePrice.toLocaleString() }
        tr
          th Options Price
          td $#{ shed.optionsPrice.toLocaleString() }
        tr
          th Sale
          td
            if shed.salePercent > 0
              span.text-danger -#{ shed.salePercent }%
            else
              | No sale
        tr
          th Final Price
          td.fw-bold
            if shed.salePercent > 0
              | $#{ Math.round((shed.basePrice + shed.optionsPrice) * (1 - shed.salePercent/100)).toLocaleString() }
            else
              | $#{ (shed.basePrice + shed.optionsPrice).toLocaleString() }

    if shed.media && shed.media.length > 0
      h2.mt-4 Images
      .row
        each image in shed.media
          .col-md-4.mb-3
            img.img-fluid(src=image.path, alt=shed.title)
