extends _layouts/admin

block head
  link(rel="stylesheet", href="/css/admin.css")

block content
  .admin-media-container
    .admin-media-header
      h1.admin-media-title
        | #{ type === 'shed' ? 'Shed' : 'Trailer' } Media Manager : &nbsp;
        span.admin-media-title-underline #{ item.title }

    .admin-media-upload
      form(
        action=`/admin/media/${type}/${item.id}/upload`,
        method="POST",
        enctype="multipart/form-data"
      )
        input.admin-media-file-input(
          type="file",
          name="media",
          accept="image/*,video/*",
          multiple
        )
        button.admin-media-button(type="submit") Upload Files

    if media.length > 0
      .admin-media-grid
        each mediaItem in media
          div(
            class=`admin-media-card ${mediaItem.isDeleted ? 'admin-media-card-deleted' : ''}`
          )
            if mediaItem.isPhoto
              img.admin-media-image(src=mediaItem.path, alt="Media")
            else
              video.admin-media-video(controls)
                source(src=mediaItem.path)

            .admin-media-info
              .admin-media-status
                span= mediaItem.isPhoto ? "Photo" : "Video"
                if mediaItem.isPrimary
                  span.admin-media-primary PRIMARY
                if mediaItem.isDeleted
                  span.admin-media-deleted-tag DELETED
              .admin-media-actions
                form(
                  action=`/admin/media/${type}/${item.id}/delete/${mediaItem.id}`,
                  method="POST"
                )
                  button(
                    type="submit",
                    class=`admin-media-button ${mediaItem.isDeleted ? '' : 'admin-media-button-danger'}`
                  )= mediaItem.isDeleted ? "Restore" : "Delete"

                if !mediaItem.isDeleted
                  form(
                    action=`/admin/media/${type}/${item.id}/primary/${mediaItem.id}`,
                    method="POST"
                  )
                    button.admin-media-button.admin-media-button-primary(
                      type="submit"
                    )= mediaItem.isPrimary ? "Remove Primary" : "Set Primary"
    else
      .admin-media-empty
        p No media found. Upload some files to get started.
