extends _layouts/admin

block head
  link(rel="stylesheet", href="/css/admin.css")

block content
  .admin-container
    h1.admin-title Shed Listing

    table.admin-table
      thead.admin-table-header
        tr
          th.admin-table-th Media
          th.admin-table-th Status
          th.admin-table-th New?
          th.admin-table-th Title
          th.admin-table-th Inventory
          th.admin-table-th Size
          th.admin-table-th Base Price
          th.admin-table-th Options
          th.admin-table-th Total
          th.admin-table-th Sale
          th.admin-table-th Final Price
          th.admin-table-th Type
          th.admin-table-th Colors
      tbody
        each shed in sheds
          tr.admin-table-row
            td.admin-table-td
              if shed.media && shed.media.some(m => m.isPrimary && !m.isDeleted)
                .admin-media-preview-container
                  img.admin-media-preview-image(
                    src=shed.media.find((m) => m.isPrimary && !m.isDeleted).path,
                    alt=shed.title
                  )
                  a.admin-media-btn(href=`/admin/media/shed/${shed.id}`) Media
              else
                a.admin-media-btn(href=`/admin/media/shed/${shed.id}`) Media
            td.admin-table-td
              if shed.isDeleted
                span.admin-badge.admin-badge-deleted Deleted
              else if shed.isSold
                span.admin-badge.admin-badge-sold Sold
            td.admin-table-td
              if shed.isNew
                span.admin-badge.admin-badge-new New
              else
                span.admin-badge.admin-badge-repo Repo
            td.admin-table-td
              div= shed.title
              .admin-description= shed.description
            td.admin-table-td= shed.inventoryNumber
            td.admin-table-td #{ shed.sizeWidth }' × #{ shed.sizeLength }'
            td.admin-table-td.admin-price $#{ (shed.basePrice / 100).toFixed(2) }
            td.admin-table-td.admin-price $#{ (shed.optionsPrice / 100).toFixed(2) }
            td.admin-table-td.admin-price $#{ ((shed.basePrice + shed.optionsPrice) / 100).toFixed(2) }
            td.admin-table-td
              if shed.salePercent > 0
                span.admin-sale-price -#{ shed.salePercent }%
            td.admin-table-td
              if shed.salePercent > 0
                span.admin-sale-price $#{ ((shed.basePrice + shed.optionsPrice) * (1 - shed.salePercent/100) / 100).toFixed(2) }
              else
                span.admin-price $#{ ((shed.basePrice + shed.optionsPrice) / 100).toFixed(2) }
            td.admin-table-td= shed.shedType
            td.admin-table-td
              .admin-colors-list
                if shed.colorRoof
                  span Roof: #{ shed.colorRoof }
                if shed.colorSiding
                  span Siding: #{ shed.colorSiding }
                if shed.colorTrim
                  span Trim: #{ shed.colorTrim }
                if !shed.colorRoof && !shed.colorSiding && !shed.colorTrim
                  span.admin-colors-empty No colors specified
