footer.layout-footer
  .layout-footer-container
    .layout-footer-grid
      // Company Info Section
      .layout-footer-section
        h3.layout-footer-heading About The Shed Place
        p.layout-footer-text
          | Your trusted source for quality sheds, trailers,
          | metal buildings, and play sets in Hohenwald, TN.
        p.layout-footer-address
          | 511 E Main Street
          br
          | Hohenwald, TN 38462

      // Products Section
      .layout-footer-section
        h3.layout-footer-heading Our Products
        .layout-footer-links
          a.layout-footer-link(href="/sheds") Sheds
          a.layout-footer-link(href="/trailers") Trailers
          a.layout-footer-link(href="/metal-buildings") Metal Buildings
          a.layout-footer-link(href="/play-sets") Play Sets

      // Contact Section
      .layout-footer-section
        h3.layout-footer-heading Contact & Hours
        p.layout-footer-contact
          strong Contact:
          br
          | Trese Anderson
          br
          | (931) 324-1199
          br
          | shedplace@gmail.com

        // Add Social Media Links
        .layout-footer-social
          h4.layout-footer-subheading Follow Us
          .layout-footer-social-links
            a.layout-footer-social-link(
              href="https://www.facebook.com/share/14ymxTMNAU/",
              target="_blank",
              rel="noopener"
            )
              i.fab.fa-facebook
              span Facebook

            a.layout-footer-social-link(
              href="https://www.instagram.com/shedplace?igsh=aGN6d29ueWhjOG93",
              target="_blank",
              rel="noopener"
            )
              i.fab.fa-instagram
              span Instagram

            a.layout-footer-social-link(
              href="https://www.tiktok.com/@shedplacehohenwald?_t=ZT-8tmFC6K1duA&_r=1",
              target="_blank",
              rel="noopener"
            )
              i.fab.fa-tiktok
              span TikTok

            a.layout-footer-social-link(
              href="https://youtube.com/@shedplacehohenwald?si=L4oZfXD2l5zijs-d",
              target="_blank",
              rel="noopener"
            )
              i.fab.fa-youtube
              span YouTube

        p.layout-footer-hours
          strong Hours:
          br
          | Mon, Wed, Fri: 10am - 5pm
          br
          | Tue, Thu, Sat: By Appointment Only
          br
          | Sun: Closed

      // Quick Links Section
      .layout-footer-section
        h3.layout-footer-heading Quick Links
        .layout-footer-links
          a.layout-footer-link(href="/") Home
          a.layout-footer-link(href="/about") About Us
          a.layout-footer-link(href="/contact") Contact
          a.layout-footer-link(
            href="http://www.hohenwaldsheds.com",
            target="_blank",
            rel="noopener"
          ) Website

    .layout-footer-bottom
      p.layout-footer-copyright &copy; #{ new Date().getFullYear() } The Shed Place. All rights reserved.
