extends ../_layouts/admin

block content
  .container.my-4
    h1.mb-4 Available Trailers

    .table-responsive
      table.table.table-hover
        thead
          tr
            th Type
            th Title
            th Size
            th Status
            th Model #
            th VIN
            th Price
            th Sale
            th Final Price
            th Actions
        tbody
          each trailer in trailers
            tr
              td= trailer.trailerType
              td= trailer.title
              td #{ trailer.sizeWidth }' × #{ trailer.sizeLength }'
              td
                span.badge(class=trailer.isNew ? "bg-success" : "bg-secondary")= trailer.isNew ? "New" : "Used"
              td= trailer.modelNumber
              td= trailer.vin
              td $#{ trailer.price.toLocaleString() }
              td
                if trailer.salePercent > 0
                  span.text-danger -#{ trailer.salePercent }%
                else
                  | -
              td.fw-bold
                if trailer.salePercent > 0
                  | $#{ Math.round(trailer.price * (1 - trailer.salePercent/100)).toLocaleString() }
                else
                  | $#{ trailer.price.toLocaleString() }
              td
                a.btn.btn-sm.btn-primary(href=`/admin/trailers/${trailer.id}`) View Details
