extends _layouts/template

block head
  link(rel="stylesheet", href="/css/generic.css")

block content
  .home-container
    // Hero Section
    section.home-hero
      .home-hero-content
        img.home-hero-logo(
          src="/assets/logos/light.svg",
          alt="The Shed Place Logo"
        )
        h1.home-hero-title Quality Outdoor Structures for Every Need
        p.home-hero-subtitle
          | From storage solutions to recreational spaces, we provide premium sheds,
          | trailers, metal buildings, and play sets in Hohenwald, Tennessee.

    // Featured Categories
    section.home-categories
      h2.home-section-title Our Products
      .home-categories-grid
        // Sheds
        .home-category-wrapper
          a.home-category-card(href="/sheds")
            img.home-category-image(
              src="/assets/home/shed.jpg",
              alt="Quality Storage Sheds"
            )
            .home-category-overlay
              h3.home-category-title Storage Sheds
          ul.home-category-list
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Tiny Home Shells
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Wood Storage Sheds
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Metal Storage Sheds
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Greenhouses
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Chicken Coops
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Animal Shelters

        // Trailers
        .home-category-wrapper
          a.home-category-card(href="/trailers")
            img.home-category-image(
              src="/assets/home/trailer.jpg",
              alt="Utility Trailers"
            )
            .home-category-overlay
              h3.home-category-title Utility Trailers
          ul.home-category-list
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Single Axle Utility
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Double Axle Utility
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Car Haulers
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Equipment Haulers

        // Metal Buildings
        .home-category-wrapper
          a.home-category-card(href="/metal-buildings")
            img.home-category-image(
              src="/assets/home/metal.jpg",
              alt="Metal Buildings"
            )
            .home-category-overlay
              h3.home-category-title Metal Buildings
          ul.home-category-list
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Carports
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span RV Covers
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Garages
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Barns
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Single Slope
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Loafing Shed
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Commercial

        // Play Sets
        .home-category-wrapper
          a.home-category-card(href="/play-sets")
            img.home-category-image(
              src="/assets/home/play.jpg",
              alt="Children's Play Sets"
            )
            .home-category-overlay
              h3.home-category-title Play Sets
          ul.home-category-list
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Swings
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Slides
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Bridges
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Towers
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Fireman Poles
            li.home-category-item
              svg.home-category-bullet(
                xmlns="http://www.w3.org/2000/svg",
                viewBox="0 0 20 20",
                fill="currentColor"
              )
                path(
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                )
              span Sand Boxes

    // Features Section
    section.home-features
      h2.home-section-title Why Choose The Shed Place?
      .home-features-grid
        .home-feature-card
          svg.home-feature-icon(
            xmlns="http://www.w3.org/2000/svg",
            fill="none",
            viewBox="0 0 24 24",
            stroke="currentColor"
          )
            path(
              stroke-linecap="round",
              stroke-linejoin="round",
              stroke-width="2",
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            )
          h3.home-feature-title Quality Guaranteed
          p.home-feature-text Premium materials and expert craftsmanship in every product

        .home-feature-card
          svg.home-feature-icon(
            xmlns="http://www.w3.org/2000/svg",
            fill="none",
            viewBox="0 0 24 24",
            stroke="currentColor"
          )
            path(
              stroke-linecap="round",
              stroke-linejoin="round",
              stroke-width="2",
              d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            )
          h3.home-feature-title Competitive Pricing
          p.home-feature-text Fair prices and flexible financing options available

        .home-feature-card
          svg.home-feature-icon(
            xmlns="http://www.w3.org/2000/svg",
            fill="none",
            viewBox="0 0 24 24",
            stroke="currentColor"
          )
            path(
              stroke-linecap="round",
              stroke-linejoin="round",
              stroke-width="2",
              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
            )
          h3.home-feature-title Expert Service
          p.home-feature-text Dedicated support from our experienced team

    // Testimonials
    section.home-testimonials
      h2.home-section-title What Our Customers Say
      .home-testimonials-grid
        .home-testimonial-card
          p.home-testimonial-text
            | "We ordered a shed to be delivered in March. We ended up emailing and received a quick response. There was a great discount and so it was also an awesome deal. We appreciated Trese and the great customer service and expect that the delivery and set up will be just as awesome. Thanks!"
          p.home-testimonial-author - Sheri S.

        .home-testimonial-card
          p.home-testimonial-text
            | "Eric and Terese were wonderful! Eric listened to what our needs and budget was and was able to offer several options. Terese was patient and thoroughly explained the purchasing and payment process. Both were friendly and charismatic and it was a joy working with them."
          p.home-testimonial-author - Alina S.

        .home-testimonial-card
          p.home-testimonial-text
            | "Excellent customer service.. I would highly recommend Trese and Eric .. very satisfied customer.."
          p.home-testimonial-author - Angela

    // Call to Action
    section.home-cta-section
      .home-cta-content
        h2.home-cta-title Ready to Get Started?
        p.home-cta-text
          | Visit our showroom to see our quality structures in person or contact us to discuss your needs.
        a.home-cta-button(href="/contact") Contact Us Today
